version: '2'
services:
  srv-rt-cfg:
    restart: always
    build: .
    environment:
      K8S_CLUSTER_NAME: "mycluster"  
      K8S_CLUSTER_URL: "https://yourclustermaster:6443"
      K8S_CLUSTER_NAME: "servicediscovery"
      K8S_CLUSTER_PASSWORD: "servicediscovery"    
      ETCDSERVERS: "http://127.0.0.1:2379"
    network_mode: "host"
    volumes:
      - /path/to/the/ca.crt:/ca.crt    
